@import url('reset.css');

.centered-content {
    max-width: 980px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 40px auto;
    cursor: default;
}

.tabs-title {
    padding: 10px 15px;
    background: #b4abab;
    color: #fff;
    border-radius: 5px;
    border: 2px solid transparent;
}

.tabs-title:hover {
    border: 2px solid black;
}

.tabs-item {
    display: none;
}

.active {
    background: #911919;
}

.active:hover {
    border: 2px solid transparent;
}

.show {
    display: block;
}